<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-agreement-type-heading">Create or edit a Agreement Type</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!agreementType.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="agreementType.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_agreementUrl">Agreement Url</label>
                    <input type="text" class="form-control" name="agreementUrl" id="field_agreementUrl"
                        [(ngModel)]="agreementType.agreementUrl" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_agreementTypeName">Agreement Type Name</label>
                    <input type="text" class="form-control" name="agreementTypeName" id="field_agreementTypeName"
                        [(ngModel)]="agreementType.agreementTypeName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_agreementTypeStartDate">Agreement Type Start Date</label>
                    <div class="d-flex">
                        <input id="field_agreementTypeStartDate" type="datetime-local" class="form-control" name="agreementTypeStartDate" [(ngModel)]="agreementTypeStartDate" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_agreementTypeEndDate">Agreement Type End Date</label>
                    <div class="d-flex">
                        <input id="field_agreementTypeEndDate" type="datetime-local" class="form-control" name="agreementTypeEndDate" [(ngModel)]="agreementTypeEndDate" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
