<div>
    <h2 id="page-heading">
        <span>Agreement Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agreement-type" [routerLink]="['/agreement-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Agreement Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="agreementTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Agreement Url</span></th>
            <th><span>Agreement Type Name</span></th>
            <th><span>Agreement Type Start Date</span></th>
            <th><span>Agreement Type End Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agreementType of agreementTypes ;trackBy: trackId">
                <td><a [routerLink]="['/agreement-type', agreementType.id, 'view' ]">{{agreementType.id}}</a></td>
                <td>{{agreementType.agreementUrl}}</td>
                <td>{{agreementType.agreementTypeName}}</td>
                <td>{{agreementType.agreementTypeStartDate | date:'medium'}}</td>
                <td>{{agreementType.agreementTypeEndDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/agreement-type', agreementType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/agreement-type', agreementType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'agreement-type', { outlets: { popup: agreementType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
