<div>
    <h2 id="page-heading">
        <span>Products Users</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-products-users" [routerLink]="['/products-users/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Products Users
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="productsUsers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Email</span></th>
            <th><span>Active</span></th>
            <th><span>Products</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productsUsers of productsUsers ;trackBy: trackId">
                <td><a [routerLink]="['/products-users', productsUsers.id, 'view' ]">{{productsUsers.id}}</a></td>
                <td>{{productsUsers.email}}</td>
                <td>{{productsUsers.active}}</td>
                <td>
                    <div *ngIf="productsUsers.products">
                        <a [routerLink]="['../products', productsUsers.products?.id, 'view' ]" >{{productsUsers.products?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/products-users', productsUsers.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/products-users', productsUsers.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'products-users', { outlets: { popup: productsUsers.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
