<div>
    <h2 id="page-heading">
        <span>Endpoint Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-endpoint-type" [routerLink]="['/endpoint-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Endpoint Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="endpointTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Endpoint Type Name</span></th>
            <th><span>Active</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let endpointType of endpointTypes ;trackBy: trackId">
                <td><a [routerLink]="['/endpoint-type', endpointType.id, 'view' ]">{{endpointType.id}}</a></td>
                <td>{{endpointType.endpointTypeName}}</td>
                <td>{{endpointType.active}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/endpoint-type', endpointType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/endpoint-type', endpointType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'endpoint-type', { outlets: { popup: endpointType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
