<div>
    <h2 id="page-heading">
        <span>Agreements</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agreement" [routerLink]="['/agreement/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Agreement
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="agreements">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Agreement Name</span></th>
            <th><span>Agreement Start Date</span></th>
            <th><span>Agreement End Date</span></th>
            <th><span>Source Id</span></th>
            <th><span>Source</span></th>
            <th><span>Agreenment Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agreement of agreements ;trackBy: trackId">
                <td><a [routerLink]="['/agreement', agreement.id, 'view' ]">{{agreement.id}}</a></td>
                <td>{{agreement.agreementName}}</td>
                <td>{{agreement.agreementStartDate | date:'medium'}}</td>
                <td>{{agreement.agreementEndDate | date:'medium'}}</td>
                <td>{{agreement.sourceId}}</td>
                <td>{{agreement.source}}</td>
                <td>
                    <div *ngIf="agreement.agreenmentType">
                        <a [routerLink]="['../agreement-type', agreement.agreenmentType?.id, 'view' ]" >{{agreement.agreenmentType?.agreementTypeName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/agreement', agreement.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/agreement', agreement.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'agreement', { outlets: { popup: agreement.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
