<div>
    <h2 id="page-heading">
        <span>Agreement Organisations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agreement-organisation" [routerLink]="['/agreement-organisation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Agreement Organisation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="agreementOrganisations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Source System Agreement Id</span></th>
            <th><span>Agreement Type</span></th>
            <th><span>Agreement Name</span></th>
            <th><span>Organisation</span></th>
            <th><span>Agreement Status</span></th>
            <th><span>Created Date</span></th>
            <th><span>Agreement</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agreementOrganisation of agreementOrganisations ;trackBy: trackId">
                <td><a [routerLink]="['/agreement-organisation', agreementOrganisation.id, 'view' ]">{{agreementOrganisation.id}}</a></td>
                <td>{{agreementOrganisation.sourceSystemAgreementId}}</td>
                <td>{{agreementOrganisation.agreementType}}</td>
                <td>{{agreementOrganisation.agreementName}}</td>
                <td>{{agreementOrganisation.organisation}}</td>
                <td>{{agreementOrganisation.agreementStatus}}</td>
                <td>{{agreementOrganisation.createdDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="agreementOrganisation.agreement">
                        <a [routerLink]="['../agreement', agreementOrganisation.agreement?.id, 'view' ]" >{{agreementOrganisation.agreement?.agreementName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/agreement-organisation', agreementOrganisation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/agreement-organisation', agreementOrganisation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'agreement-organisation', { outlets: { popup: agreementOrganisation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
