<div>
    <h2 id="page-heading">
        <span>Location Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-location-type" [routerLink]="['/location-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Location Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="locationTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Location Type Name</span></th>
            <th><span>Active</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let locationType of locationTypes ;trackBy: trackId">
                <td><a [routerLink]="['/location-type', locationType.id, 'view' ]">{{locationType.id}}</a></td>
                <td>{{locationType.locationTypeName}}</td>
                <td>{{locationType.active}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/location-type', locationType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/location-type', locationType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'location-type', { outlets: { popup: locationType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
