<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="locationType">
            <h2><span>Location Type</span> {{locationType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Location Type Name</span></dt>
                <dd>
                    <span>{{locationType.locationTypeName}}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{locationType.active}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/location-type', locationType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
